<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.Weather" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Weather Forecast</name>
    <description>
        Simple Weather forecast by city.
    </description>
    <author email="adones.kjc@gmail.com" href="http://dondonai.github.io">
        Sonshine Technology
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
